* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%px;
    height: 80px;

}
header div.container {

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;

}
header div.container div.left {
    margin-right: 100px;
    align-items: center;

}
header div.container div.left div.imagecontainer {
    display: flex;

}
header div.container div.left div.imagecontainer a {
    display: flex;
    width: 24px;
    height: 24px;

}
header div.container div.left div.imagecontainer img {
    padding-right: 10px;
}

header div.container div.left div.imagecontainer div.image {
    display: inline-block;

}
header div.container div.left div.imagecontainer div.image h1 {

}
header div.container div.left div.imagecontainer div.image h1 a {

}
header div.container div.left div.imagecontainer div.image h1 a img {

    padding-right: 34px;
    display: inline-block;
    padding-left: 10px;
    width: 180px;
    

}
header div.container div.middle {
    align-items: center; 
    margin-left: 32px;
    margin-right: 32px;   


}
header div.container div.middle div.search {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    background-color: whitesmoke;
    

}
header div.container div.middle div.search div.left {
    align-items: center;

}
header div.container div.middle div.search div.left img {
    transform: scaleX(-1);
    margin-right: 10px;
    width: 15px;
}
header div.container div.middle div.search div.right {
    align-items: center;
    

}
header div.container div.middle div.search div.right input {
    width: 900px;
    height: 50px;
    font-size: 15px;
    color: #000;
    /* padding-right: 48px; */
    border-radius: 8px;
    border: 0px;
    background-color: whitesmoke;

}
header div.container div.right {
    font-size: 17px;
    align-items: center;

}
header div.container div.right ul {
    display: flex;
    list-style-type: none;

}
header div.container div.right ul li {

}
header div.container div.right ul li a.button1 {
    text-decoration: none;
    margin: 0px 22px;
    padding: 1px 6px;
    color: #000;
    font-weight: 700px;

}
header div.container div.right ul li a.button2 {
    text-decoration: none;
    padding: 8px 16px;
    color: #fff;
    background-color: #108910;
    border-radius: 20px;
    font-weight: 700px;

}

/* section header end''' */



section#main {
    width: 100%;
    height: 200px;
    background-color: #deedd6;
    margin-bottom: 16px;

}
section#main div.groceries {
    display: flex;

}
section#main div.groceries div.left {
    display: flex;
    width: 1000px;
    padding: 24px 0 24px 144px;;

}
section#main div.groceries div.left span {

}
section#main div.groceries div.left span select {

}
section#main div.groceries div.left span select option {

}
section#main div.groceries div.left div.content {

}
section#main div.groceries div.left div.content h1 {
    font-size: 41px;
    width: 450px;
    line-height: 40px;

}
section#main div.groceries div.left div.content p {
    font-size: 14px;
    margin-top: 10px;

}
section#main div.groceries div.right {
    background-image: url(images/image.png);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: right;

}
/* section main end''' */


section#store {
    display: flex;
    justify-content: center;

}
section.wrapper {
    width: 75%;

}
section#store section.wrapper div.markets {

}
section#store section.wrapper div.markets div.top {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

}
section#store section.wrapper div.markets div.top h2 {
    font-size: 35px;
}
section#store section.wrapper div.markets div.top h2 a {
    color: #108910;
    text-decoration: none;
}
section#store section.wrapper div.markets div.top h2 a:hover {
    text-decoration: underline;
}
section#store section.wrapper div.markets div.bottom {

}
section#store section.wrapper div.markets div.bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    

}
section#store section.wrapper div.markets div.bottom ul li {
    list-style-type: none;
    box-shadow: 3px 3px 3px 3px #d2d5d9;
    border-radius: 5px;

}
section#store section.wrapper div.markets div.bottom ul li a {
    display: flex;
    text-decoration: none;
    width: 370px;
    

}
section#store section.wrapper div.markets div.bottom ul li a div {

}
section#store section.wrapper div.markets div.bottom ul li a div img {
    width: 61px;
    height: 61px;
    display: block;

}
section#store section.wrapper div.markets div.bottom ul li a div h5 {
    font-size: 22px;
    color: #000;

}
section#store section.wrapper div.markets div.bottom ul li a div p {
    color: #108910;
    font-weight: 700;

}
section#store section.wrapper div.markets div.bottom ul li a div span {
    display: inline-block;
    color: #000;
    border: 1px solid #000;

}
section#store section.wrapper div.markets div.bottom a.button {
    text-decoration: none;
    margin-top: 30px;
    display: block;
    font-size: 24px;
    color: #108910;
    text-align: center;
}
section#store section.wrapper div.markets div.bottom a.button:hover {
    text-decoration: underline;

}

/* section#store end''' */


section#qr_code {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
section#qr_code section.wrapper {
    background-color: #B1E5D5;
    border-radius: 10px;
    box-shadow: 3px 2px 3px 2px #d2d5d9;

 
}
section#qr_code section.wrapper div.scan {
    display: flex;
    justify-content: space-between;

}
section#qr_code section.wrapper div.scan div.left {

}
section#qr_code section.wrapper div.scan div.left img {
    display: inline-block;
    width: 267px;
    height: 100px;

}
section#qr_code section.wrapper div.scan div.middle {
    padding-top: 30px;
    align-items: center;

}
section#qr_code section.wrapper div.scan div.middle h2 {
    font-weight: 700;
    

}
section#qr_code section.wrapper div.scan div.middle p {
    font-weight: 400;

}
section#qr_code section.wrapper div.scan div.right {

}
section#qr_code section.wrapper div.scan div.right img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 5px;

}

/* section qr code end""" */

section#order_delivery {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;

}
section#order_delivery section.wrapper {

}
section#order_delivery section.wrapper div.delivery {
    

}
section#order_delivery section.wrapper div.delivery div.top {
    display: flex;
    justify-content: center;

}
section#order_delivery section.wrapper div.delivery div.top h4 {
    font-size: 34px;
    padding-bottom: 32px;

}
section#order_delivery section.wrapper div.delivery div.bottom {
}
section#order_delivery section.wrapper div.delivery div.bottom ul {
    display: flex;
    justify-content: space-between;


}
section#order_delivery section.wrapper div.delivery div.bottom ul li {
    height: 450px;
    background-color: #F6F7F8;
    width: 32%;
    list-style-type: none;
    border-radius: 10px;


}
section#order_delivery section.wrapper div.delivery div.bottom ul li div {
    width: 100%;
    height: 257px;

}
section#order_delivery section.wrapper div.delivery div.bottom ul li div img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: inline-block;

}
section#order_delivery section.wrapper div.delivery div.bottom ul li h3 {
    margin-bottom: 12px;
    padding: 0px 24px;
    padding-top: 32px;
    font-size: 25px;

}
section#order_delivery section.wrapper div.delivery div.bottom ul li p {
    padding: 0px 24px;
    font-size: 20px;


}
/* delivery section end''' */


section#online_grocery {
    padding: 32px;
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;

}
section#online_grocery section.wrapper {

}
section#online_grocery section.wrapper div.market {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
section#online_grocery section.wrapper div.market h4 {
    text-align: center;
    max-width: 500px;
    font-size: 35px;
    color: #343538;
    margin-bottom: 35px;
}
section#online_grocery section.wrapper div.market div.image {

}
section#online_grocery section.wrapper div.market div.image img {
    display: inline-block;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;

}
section#online_grocery section.wrapper div.market ul {
    display: flex;
    justify-content: space-between;
    height: 236px;
    width: 100%;

}
section#online_grocery section.wrapper div.market ul li {
    padding: 32px;
    list-style-type: none;
    background-color: #F6F7F8;
    width: 24%;
  

}
section#online_grocery section.wrapper div.market ul li h5 {
    font-size: 35px;
    font-weight: 600;

}
section#online_grocery section.wrapper div.market ul li p {
    color: #343538;
    font-size: 27px;
    line-height: 28px;
    font-weight: 500;

}

/* section online end''' */


section#questions {
    max-width: 950px;
    margin: 0 auto;
    padding: 32px 32px 60px;

}
section#questions div.question {
    width: 100%;
    justify-content: center;

}
section#questions div.question h4 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

}
section#questions div.question ul {
}
section#questions div.question ul li {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #E8E9EB;


}
section#questions div.question ul li p {
    font-size: 32px;
    padding: 24px 0px;

}
section#questions div.question ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
}
section#questions div.question ul li a .fa-plus {
    font-size: 20px;
}
/* section#idquestions end''' */


footer{
    

}
footer div.top_section {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-bottom: 1px solid #E8E9EB;
    border-top: 1px solid #E8E9EB;

}
footer div.top_section div.left {

}
footer div.top_section div.left div.top {
    display: flex;
    padding: 20px 0 13px 6px;

}
footer div.top_section div.left div.top span {

}
footer div.top_section div.left div.top span img {
    width: 33px;
    margin-right: 10px;

}
footer div.top_section div.left div.top h3 {

}
footer div.top_section div.left div.bottom {
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    align-items: center;

}

footer div.top_section div.left div.bottom span {

}
footer div.top_section div.left div.bottom span img {
    width: 20px;
}
footer div.top_section div.left div.bottom a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;

}

footer div.top_section div.right {
    display: flex;

}
footer div.top_section div.right div.item {
    display: flex;
    justify-content: space-between;
    gap: 40px;



}
footer div.top_section div.right div.item ul {

}
footer div.top_section div.right div.item ul li {
    list-style-type: none;
    text-decoration: none;


}
footer div.top_section div.right div.item ul li h5 {
    font-size: 20px;
    padding: 20px 0 13px

}
footer div.top_section div.right div.item ul li a {
    font-size: 17px;
    color: #343538;
    text-decoration: none;
    line-height: 40px;

}
















